<p id="notice"><%= notice %></p>

<h1>Categorías</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad de Productos</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @categories.each do |category| %>
      <th scope="row"><%= category.id %></th>
      <td><%= link_to category.name, category %></td>
      <td><%= 'CANTIDAD DE PRODUCTOS (.COUNT)' %></td>
      <td><button type="button" class="btn btn-light"><%= link_to 'Editar', edit_category_path(category) %></button></td>
      <td><button type="button" class="btn btn-warning"><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
    </tr>
    <% end %>
  </tbody>
</table>
